[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Markdown = "==3.3.6"
csv2md = "==1.1.2"
click = "==8.0.4"
colorama = "==0.4.4"
pymdown-extensions = "==9.3"

[dev-packages]

[requires]
python_version = "3.10"
